{% extends "base.html" %}

{% block content %}
<div class="panel panel-default">
	<i class="fa fa-info-circle" aria-hidden="true"></i>
	<span class="text-muted">Follow the steps from <a href="https://developer.linkedin.com/docs/oauth2" target="_blank">https://developer.linkedin.com/docs/oauth2</a> to set up client_id, client_secret, redirect_uri and access_token.</span>
</div>
<div class="panel panel-default">
	<form action="{{ url_for('update_token') }}" method="POST">
		<div class="form-group">
			<label for="cilent_id">Client Id</label>
			<input type="text" class="form-control" name="client_id" value="{{ tokens.client_id }}">
		</div>
		<div class="form-group">
			<label for="client_secret">Client Secret</label>
			<input type="text" class="form-control" name="client_secret" value="{{ tokens.client_secret }}">
		</div>
		<div class="form-group">
			<label for="redirect_uri">Redirect Id</label>
			<input type="text" class="form-control" name="redirect_uri" value="{{ tokens.redirect_uri }}">
		</div>
		<div class="form-group">
			<label for="code">Code</label>
			<input type="text" class="form-control" name="code" value="{{ tokens.code }}">
		</div>
		<button type="submit" class="btn btn-primary">Set</button>
	</form>
</div>
{% endblock %}
